<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvoidRuntimeDefrag</key>
	<true/>
	<key>SetupVirtualMap</key>
	<false/>
	<key>ProvideCustomSlide</key>
	<false/>
	<key>DevirtualiseMmio</key>
	<false/>
	<key>DisableSingleUser</key>
	<false/>
	<key>DiscardHibernateMap</key>
	<false/>
	<key>EnableSafeModeSlide</key>
	<false/>
	<key>ProtectCsmRegion</key>
	<false/>
	<key>ShrinkMemoryMap</key>
	<false/>
	<key>ForceExitBootServices</key>
	<false/>
	<key>DisableVariableWrite</key>
	<false/>
	<key>EnableWriteUnprotector</key>
	<false/>
	<key>ProvideConsoleGopEnable</key>
	<false/>
</dict>
</plist>
